        .heading{
            background-color: black;
        }
        .headingT{
        color: white;
        font-family: lato;
        }
        .imageHead{
            padding: 50px;
        }
        .mainTab {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        .tabT, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        .tabR:nth-child(even) {
        background-color: #dddddd;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            height : 10%;
            width: 100%;
            background-color: #0E86D4;
            color: white;
          
        }
        .footerImg{
            height :50px;
            width :50 px;
        }
        .space{
            float: left;
            width: 100%;
            padding: 30px;
        }